* {{
    bg: {color7};
    fg: {color0};
    primary: {color0};
    secondary: {color1}; 
    selected-fg: {color0};
    selected-bg: {color5};
    urgent-fg: {color3};
    border-color: transparent;
}}

