* {{
    bg: #{color0.strip}A3;
    fg: {color3};
    primary: {color5};
    secondary: {color3};
    selected-fg: {color5};
    selected-bg: #{color0.strip}A6;
    active-fg: {color5};
    urgent-fg: {color7};
    border-color: {color3};
}}
